root = true

[*]
charset = utf-8
end_of_line = crlf
indent_style = space
indent_size = 4
insert_final_newline = false
trim_trailing_whitespace = false

[*.cs]
charset = utf-8

[*.axaml]
charset = utf-8

[*.csproj]
charset = utf-8
indent_size = 2
